@font-face {
  font-family: 'ArialAMU';
  src: url('../fonts/ArialAMU.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArialAMU.woff') format('woff'), url('../fonts/ArialAMU.ttf')  format('truetype'), url('../fonts/ArialAMU.svg#ArialAMU') format('svg');
  font-weight: normal;
  font-style: normal;
}